.sidebar>h1 {
  margin: 0 auto 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  padding: 0 30px;
}

.top-nav a {
  color: inherit;
  font-size: 16px;
  text-decoration: none;
  transition: color .3s;
  margin: 0 1rem;
  padding: 5px 0;
}

/* .content {
  max-width: 740px;
}

@media (max-width: 419px) {
  .content {
    margin: 0 auto;
  }
}

@media (max-width: 719px) {
  .content {
    padding-left: 0;
  }

}

@media (max-width: 959px) {
  .content {
  }

}

.right-group {
  position: fixed;
  right: 60px;
  top: 80px;
  width: 130px;
  z-index: 100;

}

.right-group section p {
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  margin: 0;
  color: #727272;
  ;
}

.right-group section {
  width: 130px;
  margin: 16px auto;
}

.right-group section img {
  margin-top: 5px;
  display: block;
  width: 130px;
  height: 130px;
  box-shadow: 5px 5px 5px  #ccc;
} */